@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "TwkLausanne-300";
  src: url("../fonts/TWK/TwkLausanne-300.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TwkLausanne-400";
  src: url("../fonts/TWK/TwkLausanne-400.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TwkLausanne-500";
  src: url("../fonts/TWK/TwkLausanne-500.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TwkLausanne-600";
  src: url("../fonts/TWK/TwkLausanne-600.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
