$primary-color: hsla(360, 76%, 52%, 1); // Adjust to match the red in the image
$secondary-color: hsla(0, 0%, 85%, 1);
$background-color: hsl(0, 0%, 100%);
$secondary-background-color: hsl(216, 33%, 97%);
$text-color: hsla(0, 0%, 0%, 1);
$text-secondary-color: hsla(0, 0%, 44%, 1);
