@use "../utils" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
  //font-size: u.rem(18);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: u.$background-color;
  color: u.$text-color;
  font-family: "TwkLausanne-400", "Inter", sans-serif;
  font-optical-sizing: auto;
  font-family: u.rem(16);
  scroll-behavior: smooth;
}

// article,
// header {
//   scroll-margin-top: u.rem(140);
// }
